CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
.DS_Store
faces_old
faces
build
sample1.mp4
sample2.mp4
sample3.mp4
sample4.mp4
test.mp4
*.jpg
model
.vscode
